@charset "utf-8";
.pc {
  display: block;
}

.sp {
  display: none;
}

.b500 {
  display: none;
}

body {
  position: relative;
}

section, footer .yellow, header .hwrapper {
  max-width: 1600px;
  padding: 25px 20px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

section {
  max-width: 1060px;
}

.wrapper {
  margin: 0 20px;
}

@media screen and (max-width:540px) {
  .wrapper {
    margin: 0 14px;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99999998;
  background-color: rgba(255, 255, 255, 0.98);
}

header .hwrapper {
  padding: 20px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left h1 img {
  width: 220px;
  height: 20px;
  display: block;
}

.right {}

.menu01 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#mainnav {
  font-size: 16px;
}

#mainnav ul {
  display: flex;
  width: 100%;
}

#mainnav ul li a {
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  font-feature-settings: "palt";
}

#mainnav ul li a {
  transition: 0.2s;
}

#mainnav ul li a:hover {
  color: #01B3CD;
}

.htel {
  font-size: 25px;
  font-weight: bold;
  display: block;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;
}

.hmitsumori {
  background-color: #F18724;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 28px;
  border-radius: 20px;
  margin-left: 1.9em;
}

.fsec {
  margin-top: 84px;
}

@media screen and (min-width:1301px) {
  #mainnav ul li+li {
    margin-left: 1.2em;
    padding-left: 1.2em;
    position: relative;
    border-left: 1px solid #999;
  }
}

@media screen and (min-width:900px) and (max-width:1300px) {
  #mainnav ul li+li {}
}

@media screen and (min-width:900px) and (max-width:1300px) {
  header .hwrapper {
    padding-top: 10px;
    padding-bottom: 15px;
    max-width: 1060px;
  }
  .left {
    position: absolute;
    top: 22px;
  }
  .right {
    width: 100%;
    justify-content: flex-end;
  }
  #mainnav {
    width: 100%;
  }
  #mainnav ul {
    justify-content: space-between;
  }
  .fsec {
    margin-top: 70px;
  }
}

@media screen and (max-width:899px) {
  header .hwrapper {
    padding: 10px;
    height: 64px;
  }
  /*
  header .right {
  margin-right: 70px;
  }
  */
  .right {
    flex-direction: column;
  }
  .htel {
    font-size: 20px;
  }
  .hmitsumori {
    font-size: 15px;
    padding: 8px 21px;
  }
  .fsec {
    margin-top: 64px;
  }
}

@media screen and (max-width:767px) {
  .htel {
    display: none;
  }
}

@media screen and (max-width:540px) {
  header .hwrapper {
    height: 58px;
  }
  .left h1 img {
    width: 163px;
    height: 16px;
  }
  /*
  header .right {
  margin-right: 55px;
  }
  */
  .hmitsumori {
    font-size: 12px;
    padding: 7px 12px;
    margin-left: 1.4em;
  }
  .fsec {
    margin-top: 58px;
  }
}

@media screen and (max-width:374px) {
  .left h1 img {
    width: 140px;
    height: 16px;
  }
  .hmitsumori {
    font-size: 11px;
    padding: 7px 12px;
  }
}

.menubtn {
  position: fixed;
  right: 14px;
  top: 10px;
  z-index: 99999999;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background-color: #FDE628;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.menubtn div {
  width: 25px;
  height: 25px;
}

.menubtn div span {
  display: block;
  width: 100%;
  margin: 0 auto 8px;
  height: 3px;
  background: #01B3CD;
  transition: all 0.2s ease-in-out;
}

.menubtn div span:last-child {
  margin-bottom: 0;
}

.menubtn.on div span.top {
  transform: translateY(11px) rotate(-45deg);
}

.menubtn.on div span.middle {
  opacity: 0;
}

.menubtn.on div span.bottom {
  transform: translateY(-11px) rotate(45deg);
}

.spmenumsk {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999997;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}

@media screen and (max-width:899px) {
  .menubtn {
    visibility: visible;
    opacity: 1;
  }
  .spmenumsk.on {
    visibility: visible;
    opacity: 1;
  }
  #mainnav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 58px;
    z-index: -1;
    background-color: #FFE629;
    padding-top: 20px;
    padding-bottom: 30px;
    visibility: hidden;
    opacity: 0;
    transform: translatex(105%);
    transition: .2s;
  }
  #mainnav.on {
    visibility: visible;
    opacity: 1;
    transform: translatex(0);
  }
  #mainnav ul {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
  }
  #mainnav ul li+li {
    margin-left: 0;
  }
  #mainnav ul li a {
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    text-decoration: none;
    display: block;
    color: #01B3CD;
    padding-left: 30px;
  }
}

@media screen and (max-width:540px) {
  .menubtn {
    top: 7px;
    right: 8px;
  }
}

.mv {
  background: #01B3CD;
}

.mv>div {
  position: relative;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.mv img {
  width: 100%;
  height: auto;
  display: block;
}

.mv a {
  position: absolute;
  left: 70.6%;
  top: 14%;
  width: 27%;
  height: 71%;
}


/*
@media screen and (max-width:767px) {
  .mv a {
  left: 4.4%;
  top: 77%;
  right: 24%;
  }
}
*/

.bb {
  box-sizing: border-box;
  background: #01B3CD;
  color: white;
  width: 100%;
  padding: 25px 35px;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .bb {
    padding: 25px 15px;
  }
}

section {
  padding-top: 70px;
}

section#content {
  padding-top: 0;
  padding-bottom: 50px;
}

section.sec1 {
  margin: -20px auto 80px auto;
}

.sec1 h3 {
  margin: 20px;
  float: left;
  width: 25%;
  font-size: 20px;
}

.sec1 p {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1.7em;
}

.sec1 p:nth-child(2) {
  font-size: 22px;
  font-weight: 600;
}

p span.yline, li span.yline {
  background: linear-gradient(transparent 60%, #FDE628 0%);
}

p span.cblue, li span.cblue {
  font-size: 1.2em;
  font-weight: bold;
  color: #01B3CD;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #01B3CD;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

h2::after, h2::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: black;
  display: block;
}

h2:before {
  margin-right: .4em;
}

h2:after {
  margin-left: .4em;
}

#step {
  padding-top: 20px;
  margin-bottom: 50px;
  overflow: hidden;
}

#step div {
  margin-bottom: 30px;
  width: 29%;
  vertical-align: top;
  float: left;
}

#step img {
  width: 100%;
}

#step img.arrowpc {
  width: 2.5%;
  margin: 10% 1.5% 0 2.3%;
  float: left;
}

#step img.arrow {
  width: auto;
}

#step p {
  margin-left: 4%;
  padding: 18px 10px 0;
  box-sizing: border-box;
  vertical-align: top;
}

#step p:nth-of-type(1) {
  margin-left: 0;
}

.arrow {
  margin: 15px auto;
}

.fbox .arrow {
  display: block;
}

#form {
  clear: both;
  padding-top: 40px;
  margin-top: 0px;
  padding-bottom: 0px;
}

#form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#form h3 span, .merit li span.ye {
  line-height: 1.1;
  background: #FDE628;
  color: #01B3CD;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  margin-right: 7px;
}

table {
  width: 100%;
}

#form table {
  font-size: 14px;
}

#form h2+p {
  display: table;
  margin: auto;
  margin-bottom: 20px;
  margin-top: -10px;
}

#form h2+p a {
  font-size: 1.2em;
  color: inherit;
  display: inline;
}

#form th {
  width: 1%;
  white-space: nowrap;
  padding: 6px 10px 6px 0;
  line-height: 1.2;
}

#form th.textarea {
  vertical-align: top;
}

#form *::placeholder {
  color: #aaa;
}

#form th div {
  display: block;
  min-width: 160px;
  max-width: 200px;
  width: 15vw;
  font-weight: bold;
  transform: translateY(-2px);
}

#form th span {
  display: inline-block;
  background: #FF4A8A;
  float: right;
  font-size: 12px;
  padding: 3px 5px 4px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 1px;
}

#form th.textarea span, #form .nini span {
  background: white;
  color: #01B3CD;
}

#form td {
  padding: 6px 0 6px;
  line-height: 1.2;
}

select, input {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
}

#slide label {
  line-height: 1.1;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 10px;
  position: relative;
}

#slide label>input[type="checkbox"], .checkbox input[type="checkbox"] {
  margin-right: .6em;
}

#slide label>input[type="checkbox"]+span::before, .checkbox input[type="checkbox"]+span::before {
  border: 1px solid transparent;
}

#slide label>input[type="checkbox"]:checked+span::after, .checkbox input[type="checkbox"]:checked+span::after {
  content: "";
  visibility: visible;
  display: block;
  position: absolute;
  top: -2px;
  left: 4px;
  width: 6px;
  height: 12px;
  transform: rotate(40deg);
  border-bottom: 3px solid #666666;
  border-right: 3px solid #666666;
}


/*
.checkbox input[type="checkbox"]+span::before {
top: 15px;
}
*/

.checkbox input[type="checkbox"]:checked+span::after {
  top: 10px;
}

.disabled {
  margin-top: 2px;
}

.disabled input:disabled {
  background: #ddd;
}

#form th.kojin+td a {
  color: inherit;
}

@media screen and (min-width:768px) {
  #form th.kojin span {
    margin-top: -17px;
  }
  th.kojin+td label {
    display: block;
    margin-top: 4px;
  }
  /*
  th.kojin + td input[type="checkbox"]+span::before {
  top: 10px;
  }
  */
}

@media screen and (max-width:767px) {
  #form {
    margin-top: 50px;
    padding-top: 0;
  }
  #form td {
    padding: 2px 0 14px 0;
  }
  #form th.kojin br {
    display: none;
  }
  #form th.kojin+td input[type="checkbox"]+span::before {
    top: 3px;
  }
}

.underline {
  text-decoration: underline;
}

button, input.btn2 {
  display: block;
  margin: auto;
  background: #F18724;
  color: white;
  border: none;
  outline: none;
  padding: 7px 25px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  cursor: pointer;
}

button:hover, input.btn2:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

input.btn2 {
  margin-top: 40px;
  max-width: 300px;
  font-size: 18px;
  height: 40px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px;
  resize: vertical;
  box-sizing: border-box;
}

#content {
  padding-top: 30px;
}

#content>div {
  margin-top: 120px;
}

.posting p {
  font-size: 18px;
  line-height: 1.6em;
}

.merit ul {
  display: table;
  margin: auto;
}

.merit ul li {
  font-size: 16px;
  margin-top: 25px;
  line-height: 1.7em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.merit ul li:first-child {
  margin-top: 0;
}

.merit ul li span.num {
  color: #FDE628;
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
}

#qa ul:first-child {
  border-top: 1px solid transparent;
}

#qa ul {
  border-top: 1px solid white;
}

#qa ul:last-child {
  border-bottom: 1px solid transparent;
  margin-bottom: -20px;
}

#qa li {
  position: relative;
  font-size: 16px;
  line-height: 1.3em;
  padding: 14px 14px 14px 40px;
}

#qa li.que {
  background-color: #01B3CD;
  color: #fff;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
}

#qa li.ans {
  border-top: 1px dashed white;
  background-color: #E8F8FA;
  margin-bottom: 16px;
  padding-bottom: 18px;
  border-radius: 0 0 6px 6px;
}

#qa .que::before, #qa .ans::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  left: 9px;
  top: 21px;
  transform: translateY(-6px);
  background: yellow;
  border-radius: 50%;
}

#qa .que::after, #qa .ans::after {
  position: absolute;
  font-size: 20px;
  line-height: 1;
  color: #FF4A8A;
}

#qa .que::after {
  content: 'Q';
  left: 12px;
  top: 15px;
  color: #01B3CD;
}

#qa .ans::after {
  content: 'A';
  left: 14px;
  top: 15px;
  color: #FF4A8A;
}

footer {
  margin-top: 40px;
  background: #FDE628;
}

footer .yellow {
  padding: 20px 0;
}

footer .wrapper {
  display: flex;
  margin: 0 20px;
}

footer h1 {
  flex: auto;
  font-size: 20px;
  font-weight: bold;
  color: #01B3CD;
  white-space: nowrap;
}

footer h1 a {
  color: #01B3CD;
  font-weight: bold;
  text-decoration: none;
}

footer .link {
  margin-right: 80px;
}

footer .link a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  padding: 10px 15px;
}

footer .link a span {
  position: relative;
  font-size: 13px;
  line-height: 1.1;
  padding-left: 16px;
}

footer .link a span::after {
  content: '▼';
  font-size: 12px;
  line-height: 1;
  color: black;
  left: 0;
  top: 3px;
  position: absolute;
  pointer-events: none;
  transform: rotate(-90deg);
}

footer .blue {
  background: #01B3CD;
  padding: 15px;
  color: white;
  text-align: center;
}

#toPageTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 50px;
  background-color: #01B3CD;
  border-radius: 0px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

#toPageTop div {
  position: relative;
  height: 100%;
  width: 100%;
}

#toPageTop div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  margin-top: -4px;
  margin-left: -8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
}

@media screen and (max-width:900px) {
  .merit ul li {
    text-align: left;
  }
}

@media screen and (max-width:767px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  section, footer .yellow, header .hwrapper {
    padding-left: 2%;
    padding-right: 2%;
  }
  header .left {
    display: block;
  }
  .mv div.btn_mv {
    position: absolute;
    width: 71%;
    height: 12vw;
    bottom: 7%;
    left: 5%;
    border-radius: 5%;
  }
  .mv div.btn_mv a {
    width: 100%;
    height: 100%;
    display: block;
  }
  section.sec1 {
    margin: -50px auto 80px auto;
  }
  .left p {
    font-size: 13px;
  }
  .right .tel {}
  .sec1 h3 {
    float: none;
    width: 100%;
    margin: auto;
  }
  .sec1 p {
    text-align: left;
    font-size: 16px;
  }
  .sec1 p:nth-child(2) {
    font-size: 18px;
  }
  .sec1 h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  #step div {
    width: 100%;
    margin-bottom: 10px;
  }
  #step p {
    max-width: 500px;
    width: auto;
    margin: auto !important;
  }
  #step img {
    max-width: 300px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: block;
  }
  #step img:first-child {
    margin-top: 0;
  }
  #step img.arrowpc {
    display: none;
  }
  #step img.arrow.sp {
    width: auto;
    margin-bottom: 30px;
  }
  #form .forma {
    padding: 20px 15px;
  }
  #form th {
    display: block;
  }
  #form th span {
    float: none;
    margin-left: 10px;
  }
  #form td {
    display: block;
  }
  .checkbox input[type="checkbox"]+span::before, .checkbox input[type="checkbox"]:checked+span::after {
    top: 3px;
  }
  #content {}
  .posting p {
    font-size: 16px;
    text-align: left;
  }
  .merit>div {
    padding: 25px 15px;
  }
  .merit ul li {
    font-size: 16px;
    text-align: left;
  }
  footer .wrapper {
    display: block;
  }
  footer h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  footer .link {
    margin-right: 0;
  }
  footer .link a {
    margin-left: 0;
    display: table;
    padding: 5px 5px;
  }
}

@media screen and (max-width:550px) {
  .b500 {
    display: block;
  }
  .sec1 p span.cblue {
    font-size: 17px;
  }
  h2 {
    font-size: 20px;
  }
}

#privacy #unei .tablewrap {
  box-sizing: border-box;
  background: #01B3CD;
  color: white;
  width: 100%;
  padding: 35px 35px;
  border-radius: 15px;
}

#privacy #unei th:nth-of-type(1), #privacy #unei td:nth-of-type(1) {
  border-top: 1px solid #fff;
}

#privacy #unei tr {
  font-size: 16px;
  margin-top: 25px;
}

#privacy #unei th, #privacy #unei td {
  border-bottom: 1px solid #fff;
}

#privacy #unei th {
  width: 180px;
  text-align: center;
}

#privacy #unei td {
  border-left: 1px solid #fff;
  padding-left: 30px;
}

@media screen and (max-width:767px) {
  #privacy #unei table {
    margin: -20px auto -5px;
  }
  #privacy #unei th:nth-of-type(1) {
    border: none;
  }
  #privacy #unei td:nth-of-type(1) {
    border-top: 1px solid #fff;
  }
  #privacy #unei th {
    display: block;
    width: 100%;
    color: #fff;
    text-align: left;
    padding-bottom: 5px;
  }
  #privacy #unei td {
    border: none;
    padding: 5px 0 5px 0px;
  }
}

#privacy .merit ul li {
  text-align: left;
  line-height: 1.5;
}

#privacy .merit ul li ul {
  padding: 0;
}

#privacy .merit ul li li {
  margin-top: 6px;
}

#privacy .merit>ul>li:first-child {
  padding-left: 0;
  text-indent: 0;
}

#privacy .merit>ul>li:last-child {
  text-align: right;
  text-indent: 0;
}

a.backbtn {
  display: block;
  margin: auto;
  background: #F18724;
  color: white;
  border: none;
  outline: none;
  max-width: 300px;
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  padding: 17px 25px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 90px;
}

a.backbtn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.pp .bb>ul {
  margin-top: 1em;
}

.pp li {
  padding-left: 1em;
  text-indent: -1em;
  margin-top: .5em;
}

.pp li li {
  margin-top: .1em;
}

.clistwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -2%;
}

.clist {
  width: 49%;
  margin-top: 2%;
  background-color: #01B3CD;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.listicon {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.listicon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.listtxt {
  width: calc(100% - 115px);
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
}

.listtxt div {
  opacity: .9;
}

.listtxt div.cpname {
  opacity: 1;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 8px;
}

.listtxt a {
  display: block;
  font-size: 13px;
  line-height: 1.3;
  margin-top: 4px;
  text-decoration: none;
  color: #FDE628;
  word-break: break-all;
}

@media screen and (max-width:767px) {
  .clistwrapper {
    margin-top: -15px;
  }
  .clist {
    width: 100%;
    margin-top: 15px;
  }
}

@media screen and (max-width:414px) {
  .clist {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .listtxt {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

#lowerlink {
  margin-top: -70px;
  margin-bottom: 40px;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: center;
}

#lowerlink a {
  display: block;
  margin: 20px 0;
  background: #F18724;
  color: white;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  padding: 17px 25px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 280px;
  box-sizing: border-box;
}

#lowerlink a:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width:768px) {
  #lowerlink a {
    display: inline-block;
  }
  #lowerlink a+a {
    margin-left: 30px;
  }
}

@media screen and (max-width:767px) {
  #lowerlink a {
    margin: 20px auto;
  }
}

#unei th {
  width: 1%;
  white-space: nowrap;
  padding: 18px 10px 10px 0;
}

#unei td {
  padding: 14px 0;
}

@media screen and (max-width:767px) {
  #unei th {
    display: block;
  }
  #unei td {
    display: block;
    padding: 2px 0 14px 0;
  }
}

.householdslist {
  border-collapse: collapse;
  border-color: #fff;
  border: 1px solid #fff;
}

.householdslist th {
  border: 1px solid #fff;
  vertical-align: middle;
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
}

.householdslist thead {
  margin-top: -50px;
  padding-top: 50px;
}

.householdslist thead th {
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 1.3;
  font-weight: bold;
  padding: 10px;
  color: #01B3CD;
}

.householdslist td {
  text-align: right;
  border: 1px solid #fff;
  vertical-align: middle;
  white-space: nowrap;
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
}

.householdslist thead:nth-child(1)+tbody tr:nth-child(1) th, .householdslist thead:nth-child(1)+tbody tr:nth-child(1) td {
  font-weight: bold;
  padding: 8px 5px;
}

.householdslist thead:nth-child(1)+tbody tr:nth-child(1) th {
  font-size: 16px;
  line-height: 20px;
}

.householdslist tbody tr:nth-child(even) th, .householdslist tbody tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, .2);
}

.householdslist tbody tr:hover th, .householdslist tbody tr:hover td {
  color: #FDE628;
  font-weight: bold;
  border-bottom-color: #FDE628;
}

@media screen and (max-width:767px) {
  .householdslist th, .householdslist td {
    font-size: 13px;
    line-height: 16px;
  }
}

#note {
  font-size: 16px;
  line-height: 1.3;
  margin: 20px auto 0;
  display: table;
}

#snote {
  font-size: 14px;
  line-height: 1.3;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 25px;
  z-index: 2;
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

#snote.off {
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

#snote>span {
  margin: auto;
  display: table;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#snote>span>span>span {
  display: block;
  text-align: left;
}

@media screen and (min-width:768px) {
  #snote>span>span>span:last-child {
    padding-left: 1em;
  }
}

@media screen and (max-width:767px) {
  #snote {
    bottom: 0;
  }
  #snote>span {
    padding: 4px 10px;
    text-align: left;
    height: 50px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-radius: 0;
    line-height: 1.2;
    font-size: 13px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
    padding-right: 80px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  #snote>span>span {
    text-align: justify;
  }
  #snote>span>span>span {
    display: inline;
  }
}

@media screen and (max-width:500px) {
  #snote>span {
    padding: 4px 5px;
    padding-right: 65px;
    font-size: 11px;
    line-height: 1.1;
  }
  #toPageTop {
    right: 0;
  }
}

.qlink p {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 6px;
  text-align: center;
}

.qlink table {
  border-collapse: collapse;
  border-color: #fff;
  border: 1px solid #fff;
  margin-bottom: 30px;
}

.qlink th {
  background-color: rgba(255, 255, 255, .2);
  border: 1px solid #fff;
  white-space: nowrap;
}

.qlink th a {
  display: block;
  font-size: 15px;
  line-height: 26px;
  height: 26px;
  font-weight: bold;
  color: #fff;
  padding: 0 4px;
  text-align: center;
  text-decoration: none;
}

.qlink td {
  width: 6em;
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
}

.qlink td a {
  display: block;
  font-size: 15px;
  color: #fff;
  line-height: 26px;
  height: 26px;
  text-decoration: none;
}

@media screen and (min-width:769px) {
  .qlink td a:hover {
    color: #FDE628;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .3);
  }
}

@media screen and (max-width:768px) {
  .qlink table, .qlink tbody, .qlink tr, .qlink th, .qlink td {
    display: block;
    border: none;
    box-sizing: border-box;
  }
  .qlink tr {
    overflow: hidden;
  }
  .qlink th a {
    margin-bottom: 4px;
    margin-top: 8px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  .qlink tr:first-child th a {
    border-top: none;
    margin-top: 0;
  }
  .qlink td {
    float: left;
    width: 25%;
  }
  .qlink td a {
    line-height: 28px;
    height: 28px;
  }
  .qlink table {
    border: 1px solid #fff;
    padding-bottom: 6px;
  }
}

#lback {
  position: fixed;
  left: 30px;
  top: 50%;
  margin-top: -60px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #F18724;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: .3s;
}

#lback.off {
  left: -120px;
  transition: .3s;
}

#lback span {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width:1240px) {
  #lback {
    left: 10px;
    margin-top: -50px;
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width:767px) {
  #lback {
    left: 5px;
    margin-top: 0;
    height: 80px;
    width: 80px;
    top: auto;
    bottom: 60px;
  }
  #lback span {
    font-size: 15px;
  }
}

.posting>ul {
  display: table;
  margin: auto;
}

.posting>ul li {
  padding-left: 1.4em;
  position: relative;
  text-align: justify;
}

.posting>ul li::after {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #01B3CD;
  left: 0;
  top: 0.5em;
}

.posting>ul li+li {
  margin-top: 1.8em;
}

.posting-table {
  max-width: 800px;
  margin: auto;
}

.posting-table-note {
  max-width: 800px;
  margin: 10px auto 0;
}

.enable-scroll-text {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
}

@media screen and (max-width:767px) {
  .responsive-table {
    width: 100%;
    overflow-x: scroll;
  }
  .responsive-table table th,
  .responsive-table table td {
    white-space: nowrap !important;
  }
}

.posting table {
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
  border-collapse: separate;
  border-spacing: 2px;
  table-layout: fixed;
}

.posting table caption {
  font-size: 22px;
  font-weight: bold;
  color: #01B3CD;
  margin-bottom: 10px;
  text-align: center;
}

.posting table th, .posting table td {
  padding: 10px 22px;
  vertical-align: middle;
}

.posting table th {
  text-align: center;
  white-space: nowrap;
}

.posting table thead th {
  background-color: #01B3CD;
  color: #fff;
  font-weight: bold;
}

.posting table thead th:first-child {
  width: 110px;
}

.posting table tbody th {
  background-color: #FEF49D;
  font-weight: bold;
  font-size: 16px;
}

.posting table tbody tr:first-child th {
  background-color: #FDE628;
  font-weight: bold;
  font-size: 20px;
}

.posting table tbody td {
  background-color: #E8F8FA;
}

.posting table tbody td:nth-of-type(1) {
  background-color: #FFF6F9;
}

.posting table tbody td li {
  font-size: 15px;
  padding-left: 0.7em;
  line-height: 1.5;
  position: relative;
}

.posting table tbody td li::after {
  position: absolute;
  content: "";
  width: 0.3em;
  height: 0.3em;
  border-radius: 0.3em;
  background-color: #333;
  box-sizing: border-box;
  left: 0;
  top: 0.6em;
}

.posting table tbody td li+li {
  margin-top: 5px;
}

.posting table tbody tr:first-child td:nth-of-type(1) li {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width:767px) {
  .posting table th, .posting table td {
    padding: 10px 12px;
  }
  .posting table tbody th {
    font-size: 14px;
  }
  .posting table tbody tr:first-child th {
    font-size: 16px;
  }
  .posting table tbody td li {
    font-size: 14px;
  }
}

@media screen and (max-width:767px) {
  .posting table {
    table-layout: auto;
  }
  .posting table th {
    white-space: normal;
  }
  .posting table thead th:first-child {
    width: auto;
  }
}

#ryoukin h3 {
  font-size: 18px;
  padding-bottom: 10px;
}

#ryoukin table {
  margin-top: 0;
  margin-bottom: 0;
}

#ryoukin table col:nth-of-type(1) {
  background: linear-gradient(#F6F19F, #DDD622) !important;
}

#ryoukin table tbody td:nth-of-type(1) {
  background: none;
}

#ryoukin table tbody td {
  background: none;
}

#ryoukin table tbody tr:nth-of-type(odd) td+td {
  background: #FEF3F1;
}

#ryoukin table tbody tr:nth-of-type(even) td+td {
  background: #E7F4F6;
}

.hfjk {
  position: relative;
}

.hfjk a {
  display: inline-block;
  margin-right: 16px;
  color: #01B3CD;
  background-color: #FDE628;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  margin-left: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

#hfjktc {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999997;
  transition: .2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

#hfjktc.on {
  visibility: visible;
  opacity: 1;
}

#hfjktc>div {
  background-color: #fff;
  max-width: 95%;
  padding: 30px 40px;
  box-sizing: border-box;
  max-height: 80vh;
  overflow: auto;
}

#hfjktc p {
  font-size: 22px;
  font-weight: bold;
  color: #01B3CD;
  margin-bottom: 10px;
  text-align: center;
}

#hfjktc table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 2px;
  max-width: 920px;
}

#hfjktc table th, #hfjktc table td {
  padding: 4px 0;
  vertical-align: middle;
}

#hfjktc table th {
  text-align: center;
  white-space: nowrap;
  background-color: #01B3CD;
  color: #fff;
  padding: 10px 15px;
}

#hfjktc table th {
  text-align: center;
  white-space: nowrap;
  background-color: #01B3CD;
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
}

#hfjktc table td {
  background-color: #E8F8FA;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (max-width:767px) {
  #hfjktc>div {
    padding: 4%;
  }
  #hfjktc table th {
    padding: 10px 10px;
    font-size: 14px;
  }
  #hfjktc table td {
    padding: 6px 10px;
    font-size: 13px;
  }
}

.areamarketingtest img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

#amcontent p.amleadtxt {
  font-size: 16px;
  line-height: 1.7em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.amsample {
  box-sizing: border-box;
  padding: 2.5% 3% 3%;
  border: 1px solid #ccc;
  margin-bottom: 60px;
}

.amsample p {
  font-size: 22px;
  font-weight: bold;
  color: #01B3CD;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.amdata {
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20px;
}

.amimg img {
  display: block;
  width: 100%;
  height: auto;
}

.amnote {
  padding-left: 20px;
}

.amnote div {
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.2;
}

.amnote div:nth-child(1) {
  color: #01B3CD;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 6px;
}

.amnote div:nth-child(n+2) {
  position: relative;
  padding-left: 40px;
  height: 18px;
  line-height: 18px;
  margin-top: 14px;
}

.amnote div:nth-child(n+2)::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #000;
}

.amnote div:nth-child(2)::after {
  background-color: #00FFFF;
}

.amnote div:nth-child(3)::after {
  background-color: #00FF00;
}

.amnote div:nth-child(4)::after {
  background-color: #FFFF00;
}

.amnote div:nth-child(5)::after {
  background-color: #FFC000;
}

.amnote div:nth-child(6)::after {
  background-color: #FF0000;
}

.amtable {
  overflow: auto;
}

.amtable table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
}

.amtable table th, .amtable table td {
  padding: 4px 0;
  vertical-align: middle;
}

.amtable table th {
  text-align: center;
  white-space: nowrap;
  background-color: #01B3CD;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
}

.amtable table td {
  white-space: nowrap;
  text-align: right;
  background-color: #E8F8FA;
  padding: 4px 15px;
  font-size: 14px;
  line-height: 1.4;
}

.amtable table tr:nth-of-type(odd) td {
  background-color: #D1F1F6;
}

.amtable table tr:nth-last-of-type(1) td {
  background-color: #01B3CD;
  color: #fff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
  padding: 10px 15px;
}

@media screen and (max-width:767px) {
  .amdata {
    flex-direction: column;
  }
  .amnote {
    display: table;
    margin: auto;
    padding-top: 20px;
    padding-left: 0;
  }
  #amcontent p.amleadtxt {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .amtable table th {
    padding: 4px 6px;
    font-size: 13px;
  }
  .amtable table td {
    padding: 3px 6px;
    font-size: 12px;
  }
  .amtable table tr:nth-last-of-type(1) td {
    font-size: 13px;
    padding: 10px 6px;
  }
}

.cmpsname {
  text-align: center;
  font-size: 26px;
  margin-top: 100px;
  font-weight: bold;
  padding-bottom: 10px;
}

.cmps {
  margin-bottom: -25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cmps li {
  margin: 18px 25px;
}

@media screen and (max-width:767px) {
  .cmpsname {
    margin-top: 60px;
  }
  .cmps {
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cmps li {
    margin: 10px;
  }
}

.amwrap h3 {
  font-size: 28px;
  display: table;
  margin: auto;
  font-weight: bold;
  margin-bottom: 6px;
}

.amwrap h4 {
  font-size: 20px;
  display: table;
  margin: auto;
  font-weight: bold;
  margin-bottom: -5px;
  color: #01B3CD;
}

.amwrapflex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.amwrapflex0 {
  width: 100%;
  border: 1px solid #01B3CD;
  background-color: #E8F8FA;
  margin-bottom: 20px;
}

.amwrapflex0 h5 {
  font-size: 20px;
  font-weight: bold;
  padding: 6px 10px;
  color: #fff;
  background-color: #01B3CD;
}

.amwrapflex0 p {
  font-size: 16px;
  line-height: 1.7;
  padding: 6px 10px;
}

.amwrapflex0+p {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.5;
}

.amwrapflex1 {
  width: 48%;
}

.amwrapflex1 img {
  display: block;
  width: 100%;
  height: auto;
}

.amwrapflex2 {
  width: 50%;
  margin-bottom: 30px;
}

@media screen and (max-width:940px) {
  .amwrapflex {
    flex-direction: column-reverse;
  }
  .amwrapflex1 {
    width: 90%;
    max-width: 600px;
  }
  .amwrapflex2 {
    width: 100%;
    max-width: 700px;
  }
}

.voicelist h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1em;
}

.voicelist span {
  font: inherit;
}

.voicelist p {
  font-size: 15px;
  font-weight: 400;
  color: #222;
  line-height: 1.5;
  text-align: justify;
}

.voicelist ul {
  padding-bottom: 30px;
}

.voicelist.voicelisttop ul {
  padding-bottom: 0;
}

.voicelist li {
  display: flex;
  align-items: center;
  margin: 40px auto;
}

.voice01 {
  width: 100%;
  padding: 20px;
  background-color: #E8F8FA;
  box-sizing: border-box;
}

.voice02 {
  padding: 20px;
}

.voice02 img {
  display: block;
  width: 130px;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
}

.voicelist h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: #01B3CD;
  text-align: center;
}

.voicelist li:nth-child(even) {
  flex-direction: row-reverse;
}

.voicelist li.voicered .voice01 {
  background-color: #FFF6F9;
}

.voicelist li.voicered h4 {
  color: #FF4A8A;
}

@media screen and (max-width:768px) {
  .voicelist h3 {
    font-size: 20px;
  }
  .voicelist p {
    font-size: 14px;
  }
  .voicelist h4 {
    text-align: left;
  }
  .voicelist h4 br {
    display: none;
  }
  .voicelist li {
    display: flex;
    flex-direction: column!important;
    align-items: flex-end;
  }
  .voice02 {
    padding: 0;
    padding-top: 8px;
    display: flex;
    align-items: center;
  }
  .voice02 img {
    width: 20px;
    margin: auto;
    margin-right: 5px;
  }
}

@media screen and (max-width:413px) {
  .voicelist h3 {
    font-size: 18px;
  }
  .voicelist p {
    font-size: 13px;
  }
  .voicelist h4 {
    font-size: 13px;
  }
}